In [5]:
import pandas as pd

def load_data(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except FileNotFoundError:
        return "File not found"
    except pd.errors.ParserError:
        return "Error parsing the file"
    
df = load_data('data/Dataset.csv')

In [6]:
df.columns

Index(['Time', 'Is Male', 'Is Female', 'Is Hijab', 'Is Child', 'Is Niqab',
       'Has Bag', 'Cluster ID'],
      dtype='object')

In [7]:
df.describe()

,Is Male,Is Female,Is Hijab,Is Child,Is Niqab,Has Bag,Cluster ID
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,0.070175,0.912281,0.561404,0.017544,0.087719,0.105263,42.192982
std,0.257713,0.285401,0.500626,0.132453,0.285401,0.309620,4.947722
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,38.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,42.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,47.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,51.000000

In [9]:
df.head()

,Time,Is Male,Is Female,Is Hijab,Is Child,Is Niqab,Has Bag,Cluster ID
0,2024-07-17 14:30:38,0,1,1,0,0,0,35
1,2024-07-17 14:31:41,0,1,0,0,1,0,35
2,2024-07-17 14:33:15,0,1,1,0,0,0,35
3,2024-07-17 14:33:16,0,1,1,0,0,0,36
4,2024-07-17 14:33:19,1,0,0,0,0,0,36

In [10]:
df.shape

(57, 8)